#navbar-bg {
  background-color: #787878;
}

.title {
  color: white;
  font-size: 20px;
}

.chart {
  width: 100%;
  height: 500px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}
​ .display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.column-border {
  border: 1px solid #d5d8de;
}

.close-icon {
  color: #d65a5c;
}

.logout-btn,
.logout-btn:hover {
  color: white;
}
