#navbar-bg {
  background-color: #787878;
}

.title {
  color: white;
  font-size: 20px;
}

.chart {
  width: 100%;
  height: 500px;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.display-block {
  display: block !important;
}

.display-none {
  display: none !important;
}

.column-border {
  border: 1px solid #d5d8de;
}

.close-icon {
	color: #d65a5c;
}

.click-hover:hover {
	cursor: pointer;
}

.btn-primary {
	background-color: #17242C !important;
	color: #93C8F0;
}

.toggle-button {
	color: #0275d8;
}

.green-text {
	color: #5cb85c;
}

.red-text {
	color: #d9534f;
}