<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Project2</display-name>
  <servlet>
  	<servlet-name>GreetingServlet</servlet-name>
  	<servlet-class>csci310.servlets.GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GreetingServlet</servlet-name>
  	<url-pattern>/greeting</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<servlet-class>csci310.servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>csci310.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>GraphServlet</servlet-name>
  	<servlet-class>csci310.servlets.GraphServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GraphServlet</servlet-name>
    <url-pattern>/GraphServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>PortfolioServlet</servlet-name>
  	<servlet-class>csci310.servlets.PortfolioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PortfolioServlet</servlet-name>
    <url-pattern>/PortfolioServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>